<div class="form-group">
    <input type="hidden" name="<%- name %>" value="<%- value.dt %>" class="edit-entry dt form-control"/>
    <input type="text" value="<%- value.d %>" class="d-value form-control form-control-inline edit-dt-entry"
           placeholder="<%- placeholder %>"/>
    <input type="text" value="<%- value.t %>" class="t-value form-control form-control-inline edit-dt-entry"
           placeholder="<%- placeholder %>"/>
    <input type="hidden" value="<%- value.z %>" class="z-value form-control"/>
    <p class="minmax" style="display:none">none</p>
</div>