<div class="alert alert-<% if (data.category === undefined || data.category === null) { %>danger<% } else { %><%- data.category %><% } %>
            alert-dismissible fade show" role="alert">
    <%- data.message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>