{% macro form_field(form, field, width=6, hidden=False) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class="form-control", **kwargs) }}
        {% if field.name in form.errors %}
            {% for error in form.errors[field.name] %}
                <div style="color: red;">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_field(field) %}
    {% set field_def = field.field_def %}
    {% if field_def.type in ["SHORT_TEXT", "LONG_TEXT"] %}
        {% if field.value and field.value|length > config.MAX_TEXT_LENGTH %}
            <span class="truncated-value" style="display:none;">{{ field.value[:config.MAX_TEXT_LENGTH]|nl2br }}</span>
            <a class="toggle-full-truncated-value" href="#">...</a>
            <span class="full-value">{{ field.value|nl2br }}</span>
        {% else %}
            {{ field.value|nl2br }}
        {% endif %}
    {% elif field_def.type == "TIME_DURATION" %}
        {{ field.human }}
    {% elif field_def.type == "TIME_INTERVAL" %}
        {{ field.start.human if field and field.start }} - {{ field.end.human if field and field.end }}
    {% elif field_def.type == "CHOICE_SET" %}
        {{ field.selection.value }}
    {% elif field_def.type == "FILE" %}
        {% if field_def.options and field_def.options.file_category %}
            {% if field_def.options.file_category == "audio" %}
                <br>
                {% if field.value %}
                    <audio preload="auto" controls id="audio">
                        <source src="{{ url_for('get_media', filepath=field.value) }}" type="audio/mpeg">
                    </audio>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {{ field.value }}
    {% endif %}
{% endmacro %}

{% macro render_edit_field(field) %}
    {% if field.field_def %}
        {% set field_def = field.field_def %}
    {% else %}
        {% set field_def = field %}
    {% endif %}
    {% if field_def.type == "SHORT_TEXT" %}
        <input type="text" name="{{ field_def.label }}" value="{{ field.value }}"
               class="form-control input-{{ field_def.label }}" autocomplete="off"
               placeholder="{{ field_def.label }}"/>
    {% elif field_def.type == "LONG_TEXT" %}
        <textarea class="form-control input-{{ field_def.label }}" name="{{ field_def.label }}"
                  rows="3">{{ field.value }}</textarea>
    {% elif field_def.type == "NUMBER" %}
        <input type="number" name="{{ field_def.label }}" value="{{ field.value }}"
               class="form-control input-{{ field_def.label }}"/>
    {% elif field_def.type == "DATETIME" %}
        <input type="text" class="form-control datetimepicker-input"
               name="{{ field_def.label }}"
               id="datetimepicker-{{ field_def.label }}"
               data-toggle="datetimepicker"
               data-target="#datetimepicker-{{ field_def.label }}"
               value="{{ field.value }}"/>
    {% elif field_def.type == "TIME_DURATION" %}
        <input type="number" name="{{ field_def.label }}" value="{{ field.total_seconds }}"
               class="form-control duration-picker input-{{ field_def.label }}"/>
    {% elif field_def.type == "TIME_INTERVAL" %}
        <input type="number" name="{{ field_def.label }}"
               value="{{ field.start.total_seconds if field and field.start else 0 }}"
               class="form-control duration-picker input-{{ field_def.label }}"/>
        <input type="number" name="{{ field_def.label }}"
               value="{{ field.end.total_seconds if field and field.end else 0 }}"
               class="form-control duration-picker input-{{ field_def.label }}"/>
    {% elif field_def.type == "CHOICE_SET" %}
        {# TODO: add new item  - http://www.marcorpsa.com/ee/t1161.html#}
        <select class="selectpicker" name="{{ field_def.label }}" data-live-search="true">
            {% if field.selection and (field.selection.key, field.selection.value) not in field_def.choices %}
                <option data-tokens="{{ field.selection.key }}"
                        selected>{{ _(field.selection.value) }}</option>
            {% endif %}
            {% for choice_key, choice_value in field_def.choices %}
                <option data-tokens="{{ choice_key }}"
                        {% if field and field.selection and field.selection.key == choice_key %}selected{% endif %}>{{ _(choice_value) }}</option>
            {% endfor %}
        </select>
        <br>
    {% elif field_def.type == "FILE" %}
        {% if field_def.options and field_def.options.file_category %}
            {% if field_def.options.file_category == "audio" %}
                <br>
                {% if field.value %}
                    <audio preload="auto" controls id="audio">
                        <source src="{{ url_for('get_media', filepath=field.value) }}" type="audio/mpeg">
                    </audio>
                {% endif %}
                <div class="input-group">
                    <input type="file" class="custom-file-input" id="input-upload-{{ field_def.label }}"
                           aria-describedby="input-upload-{{ field_def.label }}-upload">
                    <label class="custom-file-label"
                           for="input-upload-{{ field_def.label }}">{{ _('Select file') }}</label>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro render_submit_btn(label=_("Save"), priority="primary") %}
    <button type="submit" class="btn btn-{{ priority }} form-field-update-submit">
        {{ _(label) }}
    </button>
{% endmacro %}

{% macro render_form_header(action, action_name=None, instance_uuid=None, next=request.referrer, inline=True) %}
    {% if action in ['create', 'update'] %}
        {% set form_url = url_for('model_instance_action', model_name=action_name, action=action, instance_uuid=instance_uuid) %}
    {% elif action == 'start_task' %}
        {% set form_url = url_for('start_task', task_name=action_name) %}
    {% else %}
        {% if not action_name %}
            {% set form_url = action %}
        {% else %}
            {% set form_url = url_for('model_instance_action', model_name=action_name, action=action, instance_uuid=instance_uuid) %}
        {% endif %}
    {% endif %}
    <form method="post" action="{{ form_url }}" {% if inline %}class="form-inline"{% endif %}>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% if next %}
        <input type="hidden" name="_next" value="{{ next }}"/>
    {% endif %}
{% endmacro %}

{% macro render_form_footer() %}
    </form>
{% endmacro %}