<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('client.static', filename='img/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('client.static', filename='img/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('client.static', filename='img/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('client.static', filename='img/favicons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('client.static', filename='img/favicons/safari-pinned-tab.svg" color="#5bbad5') }}">
<meta name="apple-mobile-web-app-title" content="Runobeat">
<meta name="application-name" content="Runobeat">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#6feb6f">