{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>Crudy</h2>
    <div id="blog-posts-list-container"></div>

    <hr>
    {% include "translations.html" %}
    <hr>
    <h2>Elements</h2>
    <h3>Modal</h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#worldwide-modal">Launch worldwide modal
    </button>

    <h4>Datetime</h4>
    <h5>Native</h5>
    <input type="datetime-local" id="meeting-time"
           name="meeting-time" value="2018-06-12T19:30"
           min="2018-06-07T00:00" max="2018-06-14T00:00">

    <h5>Library</h5>
    <a href="https://tempusdominus.github.io/bootstrap-4/Options/">tempus dominis</a><br>
    <input type="text" class="form-control datetimepicker-input" id="datetimepicker" data-toggle="datetimepicker"
           data-target="#datetimepicker"/>

    <h6>Linked</h6>
    <div class="container">
        <div class='col-md-5'>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker-start" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-start"/>
                    <div class="input-group-append" data-target="#datetimepicker-start" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker-end" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker-end"/>
                    <div class="input-group-append" data-target="#datetimepicker-end" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Select</h4>
    <select class="selectpicker" data-live-search="true">
        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
        <option data-tokens="mustard">Burger, Shake and a Smile</option>
        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
    </select>

    <h4>Multiselect</h4>
    <select class="selectpicker" data-live-search="true" multiple>
        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
        <option data-tokens="mustard">Burger, Shake and a Smile</option>
        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
    </select>

{% endblock %}

{% block script %}
{% endblock %}
