<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "App" }}</title>
    {% include "favicons.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/bootstrap-duration-picker.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/bootstrap-datetime-picker.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/bootstrap-select.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/bootstrap-table.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=g.env + "/css/vendor/fontawesome.css") }}">
    {% block style %}{% endblock %}
</head>
<body>
{% import "_macros.html" as macros %}
{% include "modal.html" %}
{% include "navbar.html" %}
{% include "flashes.html" %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            {% include "side_nav.html" %}
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
<script>
  var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %};
  {% if not _models %}
    var MODELS = {};
  {% else %}
    var MODELS = {
      {% for model in _models.itervalues() %}
        "{{ model.name }}":
          {
            name: "{{ model.name }}",
            nameHuman: "{{ model.human_name }}",
            namePlural: "{{ model.name_plural }}",
            defaults: {},
            constants: {{ model.model_constants|tojson }},
            elements: {{ model.elements|tojson }},
            modelMethods: function (ctx) {
              return {}
            },
            collectionMethods: function (ctx) {
              return {}
            }
          },
      {% endfor %}
    };
  {% endif %}
</script>

<script src="{{ url_for('static', filename=g.env + "/js/vendor/jquery.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/underscore.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/backbone.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/backbone.localStorage.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/moment.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/popper.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/bootstrap.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/bootstrap-duration-picker.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/bootstrap-datetime-picker.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/bootstrap-select.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/bootstrap-table.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/emojione.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/vendor/dragula.js") }}"></script>
{% if config.WEBSOCKETS_ENABLED %}
    <script>var WEBSOCKETS_ENABLED=true;</script>
    <script src="{{ url_for('static', filename=g.env + "/js/vendor/socket.io.js") }}"></script>
    <script src="{{ url_for('static', filename=g.env + "/js/socket_init.js") }}"></script>
{% else %}
    <script>var WEBSOCKETS_ENABLED=false;</script>
{% endif %}
<script src="{{ url_for('static', filename=g.env + "/js/csrf.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/crudy.js") }}"></script>
<script src="{{ url_for('static', filename=g.env + "/js/hooks.js") }}"></script>
{% for view_script in view_scripts %}
    <script>
      {{ view_script|safe }}
    </script>
{% endfor %}
{% block script %}{% endblock %}
</body>
</html>