<div class="modal fade" id="worldwide-modal" tabindex="-1" role="dialog" aria-labelledby="worldwide-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                        data-toggle="dropdown" style="background-color: initial;">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item action-delete" href="#">Delete</a>
                </div>
                <button type="button" class="btn btn-primary action-save">Save</button>
            </div>
        </div>
    </div>
</div>