<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('client.index') }}">{{ app_name }}</a>
    <form class="form-inline" action="{{ url_for('search') }}" method="get">
        <input type="hidden" name="models" value="{{ search_models }}"/>
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="{{ _('Search') }}" aria-label="Search"
               value="{{ q }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ _("Search") }}</button>
    </form>
    {% if current_user.is_authenticated %}
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown" id="navbar-dropdown-bell">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-bell-link" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell fa-lg"></i>
                    <span class="badge badge-danger notifications-count"
                          {% if not user_notifications %}style="display: none;"{% endif %}>
                        {% if user_notifications %}{{ user_notifications|length }}{% endif %}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right notifications-container"
                     aria-labelledby="navbarDropdownBell" style="width:400px;">
                    {% if user_notifications %}
                        {% for notification in user_notifications %}
                            <a class="dropdown-item {% if not notification.is_read %}active{% endif %}"
                               href="{{ notification.url }}">
                                {{ render_notification(notification)|safe }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <a class="dropdown-item" href="#">No notifications</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown" id="navbar-dropdown-profile">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-profile-link" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ current_user.email|gravatar }}" class="rounded-circle"
                         style="height: 32px;"/> {{ current_user.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                    {% for lang in config.TRANSLATION_LANGUAGES %}
                            <a class="dropdown-item {% if lang == user.locale %}active{% endif %}"
                               href="{{ url_for('change_locale', locale=lang) }}"><span class="emoji">:flag_{{ lang|lang_props("flag") }}:</span>{{ lang }}
                            </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">{{ _("Log out") }}</a>
                </div>
            </li>
        </ul>
    {% else %}
        <form class="form-inline">
            <a href="/login" class="btn btn-primary">{{ _("Login") }}</a>
            <a href="/register" class="btn btn-success">{{ _("Register") }}</a>
        </form>
    {% endif %}
</nav>