{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% if search_results %}
        {% for model in search_results %}
            {% if not search_results[model].instances %}
                <h4>No results for {{ model }}</h4>
            {% else %}
                <h2>{{ model }}</h2>
                {% set view_url_name = search_results[model].search.url_name %}
                {% set link_from = search_results[model].search.link_from %}
                {% set snippets_from = search_results[model].search.snippets_from %}
                {% set result_params = search_results[model].search.params %}
                {% for result in search_results[model].instances %}
                    {% set link = result[link_from].value %}
                    {% set url_params=dict() %}
                    {% for key, label in result_params.items() %}
                        {% set __dummy = url_params.update({key: result[label]}) %}
                    {% endfor %}
                    <div class="card" style="max-width: 600px; width: 70%;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url_for('get_user_view', url_name=view_url_name, **url_params) }}">
                                    {% if link %}
                                        {{ link|hl_search(q, all_if_no_match=True)|safe }}
                                    {% else %}
                                        {{ model }}:{{ result.uuid }}
                                    {% endif %}
                                </a>
                            </h5>
                            {% if snippets_from %}
                                <p class="card-text">
                                    {% for snippet_from in snippets_from %}
                                        {% set snippet = result[snippet_from].value %}
                                        {% if snippet %}
                                            {% set snippet = snippet|hl_search(q)|safe %}
                                            {% if snippet %}
                                                <span class="card-subtitle mb-2 text-muted">{{ snippet_from }}</span>
                                                <br>
                                                {{ snippet }}
                                                <br>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}