<div class="sidebar-sticky">
    <ul class="nav flex-column">
        {% for uv in user_views %}
            {% if uv.on_main %}
                <li class="nav-item">
                    <a href="{{ url_for_view(uv.url_name) }}"
                       class="nav-link {% if current_user_view and current_user_view.id ==  uv.id %}active{% endif %}">
                                <span style="display: inline-block; width: 40px"><i
                                        class="fa fa-{{ uv.icon }} fa-lg"></i></span>
                        {{ _(uv.name|capitalize) }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>