{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {% if task.status == 'SUCCESS' %}
                {% set css_class="success" %}
                {% set in_progress=False %}
            {% elif task.status == 'FAILURE' %}
                {% set css_class="danger" %}
                {% set in_progress=False %}
            {% elif task.status in ['PENDING', 'STARTED'] %}
                {% set css_class="info" %}
                {% set in_progress=True %}
            {% else %}
                {% set css_class="warning" %}
                {% set in_progress=False %}
            {% endif %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped {% if in_progress %}progress-bar-animated{% endif %} bg-{{ css_class }}"
                     role="progressbar" aria-valuenow="{{ task.percent_done }}"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{ task.percent_done }}%"></div>
            </div>
            <br>
            {% if not in_progress %}
                {% if task.status == 'SUCCESS' %}
                    <a role="button" class="btn btn-{{ css_class }}" href="{{ async_task.result.next_url }}">{{ _('Go') }}</a>
                {% else %}
                    <button role="button" class="btn btn-{{ css_class }}" disabled>{{ _(task.progress) }}</button>
                {% endif %}
            {% else %}
                <button role="button" class="btn btn-{{ css_class }}" disabled>{{ _(task.progress) }}</button>
            {% endif %}
            <br>
            <p><strong>AsyncTask: </strong>{{ async_task }}</p>
            <p><strong>Task: </strong>{{ task }}</p>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
