{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% set model_name = model_instances.model.name %}
    {% set instance = model_instances.instances[0] %}
    <h2>{{ _(model_name) }} <a href="{{ url_for('get_view_model_many', model_name=model_name) }}">[all]</a></h2>
    <a class="btn btn-primary"
       href="{{ url_for('get_view_model_edit', model_name=model_name, instance_uuid=instance.uuid) }}"
       role="button">{{ _("Edit") }}</a>
    <a class="btn btn-danger"
       href="{{ url_for('get_view_model_delete_confirm', model_name=model_name, instance_uuid=instance.uuid) }}"
       role="button">{{ _("Delete") }}</a>
    <div class="row">
        <div class="col-12">
            <ul>
                {% for column in model_instances.model.fields.keys() %}
                    {% set field = instance[column] %}
                    <li>
                        <strong>{{ _(column) }}: </strong>{{ macros.render_field(field) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
