{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>Models</h2>
    <ul>
        {% for model in models %}
            <li><a href="{{ url_for('get_view_model_many', model_name=model.name) }}">{{ _(model.name) }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}
