{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% set model_name = model_instances.model.name %}
    {% set instance = model_instances.instances[0] %}
    <h2>{{ model_name }}</h2>
    <div class="row">
        <div class="col-12">
            <form method="post"
                  action="{{ url_for('model_instance_action', model_name=model_name, action="update", instance_uuid=instance.uuid) }}">
                <button type="submit" class="btn btn-primary form-field-update-submit">
                    {{ _("Save") }}
                </button>
                <a role="button" href="{{ request.referrer }}" class="btn btn-default form-field-update-cancel">
                    <i class="fa fa-times"></i>
                </a>
                <br>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="_next" value="{{ request.referrer }}"/>
                {% for column in model_instances.model.fields.keys() %}
                    {% set field = instance[column] %}
                    <strong>{{ column }}: </strong> {{ macros.render_edit_field(field) }}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
