{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
{% set model_name = model_instances.model.name %}
{% set instance = model_instances.instances[0] %}
<h2>Are you sure you want to delete {{ model_name }} {{ instance.uuid }}</h2>
<form method="post" action="{{ url_for('model_instance_delete', model_name=model_name, instance_uuid=instance.uuid) }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="hidden" name="_next" value="{{ request.referrer }}"/>
<button type="submit" class="btn btn-danger form-field-delete-submit">
  {{ _("Delete") }}
</button>
</form>
<a role="button" href="{{ request.referrer }}" class="btn btn-default form-field-update-cancel">
  <i class="fa fa-times"></i> Cancel
</a>
{% endblock %}

{% block script %}
{% endblock %}
