{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for component in components %}
            <div class="col-{{ component.cols }}">
                {{ component_renders[component.name]|safe }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}
