{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <h2>{{ model_instances.model.name }}</h2>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary"
               href="{{ url_for('get_view_model_new', model_name=model_instances.model.name) }}"
               role="button">{{ _("New") }}</a>
            <table data-toggle="table">
                <tr>
                    <th></th>
                    {% for column in model_instances.model.fields.values() %}
                        <th>{{ _(column.label) }}</th>
                    {% endfor %}
                </tr>
                {% for instance in model_instances.instances %}
                    <tr>
                        <td>
                            <a href="{{ url_for('get_view_model_single', model_name=model_instances.model.name,  instance_uuid=instance.uuid) }}"><i
                                    class="fa fa-link"></i></a></td>
                        {% for column in model_instances.model.fields.keys() %}
                            <td>
                                {% set field = instance[column] %}
                                {{ macros.render_field(field) }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
