{% import "_macros.html" as macros %}
<form class="action" method="post" action="/register" id="register-form">
    {{ signup_form.hidden_tag() }}
    {{ macros.form_field(signup_form, signup_form.name, width=12) }}<br>
    {{ macros.form_field(signup_form, signup_form.email, width=12) }}<br>
    {{ macros.form_field(signup_form, signup_form.password, width=12) }}<br>
    {{ macros.form_field(signup_form, signup_form.password_confirm, width=12) }}<br>
    <div class="row" style="margin-top: 30px;">
        <input id="register-form-submit" class="btn btn-primary btn-block" name="submit" type="submit" value="{{ _('Register') }}">
    </div>
</form>
