{% extends "layout.html" %}

{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <h1>{{ _('Send password reset instructions') }}</h1>
                <div class="well">
                  {% include "forms/forgot_password.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}