{% extends "layout.html" %}

{% block style %}
    <style>
        body {
            background-color: #cccccc;
        }

        .main-card {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 40rem;
        }
    </style>
{% endblock %}

{% import "_macros.html" as macros %}
{% block content %}
    <div class="card main-card">
        <div class="card-body">
            <h1 class="card-title">{{ _('Register') }}</h1>
            <p class="card-text">
                {% set signup_form = register_user_form %}
                {% include "forms/register.html" %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // paranoicaly, clean the local storage data
        localStorage.clear();

        $('#register-form').on('submit', function () {
            var emailEl = $(this).find('#email');
            emailEl.val(emailEl.val().trim());
            $('#register-form-submit').prop('disabled', true);
        });
    </script>
{% endblock %}