{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% if get_flashed_messages() and get_flashed_messages()|length > 0 %}
    {% set email=get_flashed_messages()[0].split('to ')[1][:-1] %}
{% endif %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">


                <div class="well">
                    <h2>{{ _('Resend confirmation instructions') }}</h2>

                    <form action="{{ url_for_security('send_confirmation') }}" method="POST"
                          name="send_confirmation_form">
                        {{ send_confirmation_form.hidden_tag() }}
                        {{ macros.form_field(send_confirmation_form, send_confirmation_form.email, class="form-control", value=email) }}
                        {{ send_confirmation_form.submit(class="btn btn-primary form-control") }}<br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}