<h1>New project</h1>
<form action="{{ url_for('post_config') }}" method="post" enctype='application/json'>
    <p>Project name: <input type="text" name="project_name" required placeholder="name for your new project"
                            style="width: 50%;"/>
    <p>Project path: <input type="text" name="project_path" required placeholder="path for your new project"
                            style="width: 50%;"/>
    <h2>Development</h2>

    <input type="radio" name="dev_env" value="local" checked="checked"> Local machine<br>
    <small>This will install all required packages on your local machine</small>
    <br><br>

    <input type="radio" name="dev_env" value="docker"> Docker containers<br>
    <small>This will install docker on your local machine and start containers for development</small>
    <br><br>

    <input type="radio" name="dev_env" value="vagrant_vbox"> Using <a
        href="https://www.vagrantup.com/downloads.html">Vagrant</a> + <a
        href="https://www.virtualbox.org/wiki/Downloads">Virtualbox</a><br>
    <small>This will create a virtual machine on your machine</small>
    <br><br>

    <h2>Production environment</h2>

    <input type="radio" name="prod_env" value="systemd" checked="checked"> Using systemd services + nginx<br>
    <small>This will create systemd services and nginx as reverse proxy</small>
    <br><br>

    <input type="radio" name="prod_env" value="docker">Docker containers<br>
    <small>This will create docker containers for all services</small>
    <br><br>

    <input type="radio" name="prod_env" value="kubernetes">Using Kubernetes<br>
    <small>This will create pods, deployments and other k8s objects for your services</small>
    <br>

    <h2>Components</h2>
    <h3>Back end</h3>
    <div style="display: none;">
        <input type="checkbox" name="webapp_enabled" disabled checked>
    </div>
    <input type="checkbox" name="database_enabled" checked>Database | type
    <select name="database_type">
        <option value="sqlite">sqlite</option>
        <option value="postgres">postgres</option>
    </select><br>
    <input type="checkbox" name="authentication_enabled" checked>Authentication<br>
    <input type="checkbox" name="workers_enabled">Workers | type: celery <br>
    <input type="checkbox" name="queue_enabled">Queue | type: rabbitmq <br>
    <input type="checkbox" name="schedule_service_enabled">Scheduling | type: celery beat<br>
    <hr>
    <input type="checkbox" name="search_enabled">Search<br>
    <input type="checkbox" name="uploads_enabled">Uploads <br>
    <input type="checkbox" name="translations_enabled">Translations<br>
    <h3>Management</h3>
    <input type="checkbox" name="database_mgmt_enabled">Database managemt | type: pgadmin<br>
    <input type="checkbox" name="workers_mgmt_enabled">Workers managemt | type: flower<br>
    <input type="checkbox" name="queue_mgmt_enabled">Queue managemt | type: rabbitmq-mgmt<br>
    <input type="checkbox" name="admin_webapp_enabled">Admin webapp <br>
    <input type="checkbox" name="monitoring_mgmt_enabled">Monitoring | type: monit <br>
    <input type="checkbox" name="error_tracking_enabled">Error tracking | type: sentry<br>
    <hr>
    <h3>Front end</h3>
    <p>CSS:
        <select name="css_framework">
            <option value="bootstrap">bootstrap</option>
            <option value="materialize">materialize</option>
        </select><br>
        <input type="checkbox" name="font_awesome_enabled">Font Awesome<br>
        <input type="checkbox" name="websockets_enabled">Websockets<br>
    <hr>
    <input type="checkbox" name="gravatar_enabled">Gravatar Enabled<br>
    <input type="checkbox" name="crudy_enabled">CRUDy<br>
    <hr>
    <input type="checkbox" name="webapp_debug_enabled">Debugtoolbar for development<br>
    <input type="checkbox" name="ssl_enabled">SSL for development<br>
    <br>
    <input type="submit">
    <br><br>
</form>
